@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: #fff;
  --shadow-default: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  min-height: 100%;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.8125rem;
  background-color: var(--color-light-grayish-blue);
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 0 auto;
  height: clamp(28rem, 90vh, 31.875rem);
  width: clamp(18rem, 90vw, 19.375rem);
}

.sr-only {
  position: absolute;
  inline-size: 0.0625rem;
  block-size: 0.0625rem;
  padding: 0;
  margin-block-start: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-default);
}

.card-top img {
  height: clamp(10rem, 30vh, 12.375rem);
  width: 100%;
  object-fit: cover;
  object-position: center left;
}

.card-content {
  padding: 2.1875rem 1.875rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.card-content h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-very-dark-grayish-blue);
}

.card-content p {
  line-height: 1.45;
  color: var(--color-desaturated-dark-blue);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  transition: 0.4s ease-in;
}

.card-bottom--click {
  background-color: var(--color-very-dark-grayish-blue);
}

.card-person {
  display: flex;
  gap: 0.75rem;
}

.card-person--click {
  display: none;
}

.card-avatar {
  overflow: hidden;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border-radius: 3.125rem;
}

.card-bottom-data {
  display: flex;
  flex-direction: column;
}

.card-bottom-data strong {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-very-dark-grayish-blue);
}

.card-bottom-data time {
  margin-block-start: 0.125rem;
  color: var(--color-grayish-blue);
}

.icon {
  inline-size: 1.875rem;
  block-size: 1.875rem;
  color: var(--color-very-dark-grayish-blue);
  background-color: var(--color-light-grayish-blue);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.icon:hover {
  scale: 1.1;
  box-shadow: var(--shadow-default);
}

.icon--click {
  background-color: var(--color-desaturated-dark-blue);
  color: var(--color-light-grayish-blue);
}

.share-item {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.share-item--click {
  display: flex;
}

.share-item span {
  color: var(--color-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.social-icons a i {
  font-size: 1.25rem;
  color: var(--color-white);
}

@media (min-width: 90rem) {
  .section {
    margin: 0 auto;
    height: 17.375rem;
    width: 45.5rem;
    position: relative;
  }

  .card {
    flex-direction: row;
  }

  .card-top img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-person--click {
    display: flex;
  }

  .card-bottom {
    padding-block-end: 1.875rem;
  }

  .card-bottom--click {
    background-color: var(--color-white);
    padding-block-end: 1.875rem;
  }

  .share-item {
    position: relative;
  }

  .share-item:after {
    content: "";
    position: absolute;
    inset-block-end: -0.625rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 0;
    block-size: 0;
    border-inline-start: 0.625rem solid transparent;
    border-inline-end: 0.625rem solid transparent;
    border-block-start: 0.625rem solid var(--color-very-dark-grayish-blue);
  }

  .share-item--click {
    padding-block: 0.9375rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    inline-size: 13.75rem;
    block-size: auto;
    position: absolute;
    inset-block-end: 4.5625rem;
    inset-inline-end: -3.9375rem;
    z-index: 10;
    background-color: var(--color-very-dark-grayish-blue);
  }
}
